a:hover {
    background-color: lightgray;
 }
.btn-group .button {
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	color: gray;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
    min-width: 25%;
    float: left;
 }
.btn-group .button:not(:last-child) {
	border-right: none;
 }
.btn-group .button:hover {
	background-color: lightgray;
 }
iframe {
	float: right;
 }
.write {
    border: 3px solid black;
    float: left;
    padding: 10px;
    max-width: 33%;
 }
