ul.z {
    margin:10px;
    border:3px solid black;
    font-size: 17px;
 }
body {
	background-color: white;
 }
nav {
    max-width: 200px;
    color: rgb(0, 0, 0);
    background-color: white;
    float: left;
 }
